{% if posts.pagination.pages is not empty %}
    <nav class="pagination-block">
        <ul class="pagination">
            {# Pages #}
            {% for page in posts.pagination.pages %}
                {% if page.link %}
                    <li>
                        <a href="{{ page.link }}">{{ page.title }}</a>
                    </li>
                {% else %}
                    <li class="current">
                        <span>{{ page.title }}</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endif %}